<ion-view title="Admin Home Page">

  <ion-content padding="true" scroll="true" class="has-header has-footer">
    <ion-header-bar class="bar-positive">

      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
                ng-click="data.showDelete = !data.showDelete; data.showReorder = false">Delete</button>
      </div>
      <div class="buttons">
        <button class="button button-icon icon ion-android-add"
                ng-click="createCourses()">Add</button>
      </div>
      <h1 class="title">Courses List</h1>
      <div class="buttons">
        <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
          Reorder
        </button>
      </div>
    </ion-header-bar>
    <ion-list show-delete="data.showDelete"
              show-reorder="data.showReorder"
              can-swipe="listCanSwipe"
        >
      <ion-item ng-repeat="item in items"
                class="item-thumbnail-left" ng-click="viewDetails(item)">

        <img ng-src="{{item.img}}">
        <h2>{{item.coursename}}</h2>
        <p>{{item.courseid}}</p>
        <ion-option-button class="button-positive"
                           ng-click="share(item)">
          Share
        </ion-option-button>
        <ion-option-button class="button-info"
                           ng-click="edit(item)">
          Edit
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="onItemDelete(item,$index, items)">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon"
                            on-reorder="moveItem(item, $fromIndex, $toIndex)">
        </ion-reorder-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
