<ion-view title="homepage">
    <ion-content padding="true" class="has-header" ng-controller="homectrl as home">
        <h1>Welcome</h1>
        <div class="button-bar">
            <button class="button button-stable button-block " ng-click="courses()">Courses</button>
            <button class="button button-stable button-block " ng-click="professors()">Professors</button>
        </div>
      <h2>Hello</h2>
      <ion-list>
        <ion-item ng-repeat="item in courses">

        <h2 align="center"> Course Name {{item.coursename}}</h2>
        <h3 align="left">Professor Name: {{item.professorname}}       Department: {{item.department}}       Specialization: {{item.specialization}} </h3>

        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item ng-repeat="item in professorsResponseData">

          <h2 align="center"> Professor Name {{item.username}}</h2>


        </ion-item>
      </ion-list>

    </ion-content>
</ion-view>
