<ion-view style="" title="Professor Home">
    <ion-tabs style="" class="tabs-stable tabs-icon-top">
        <ion-tab style="" title="Ratings" icon="ion-asterisk" href="#/professortab/ratings">
            <ion-nav-view name="ratings"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Feedback" icon="ion-happy" href="#/professortab/feedback">
            <ion-nav-view name="feedback"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Home" icon="ion-home" href="#/homepage">
            <ion-nav-view name="homepage"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
